In [1]:
# %matplotlib inline
import numpy as np
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [2]:
 titles = pd.read_csv('imdb_pandas/titles.csv')
 titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [3]:
# cast = pd.read_csv('data/cast.csv', sep=",")
# cast.head()

### How many movies are listed in the titles dataframe?

In [4]:
titles.count()

title    232330
year     232330
dtype: int64

### What are the earliest two films listed in the titles dataframe?

In [5]:
titles.sort_values('year',ascending=True)

                                                    title  year
177757                                         Miss Jerry  1894
215272                                 The Startled Lover  1898
124505     Reproduction of the Corbett and Jeffries Fight  1899
20657   Pierrot's Problem, or How to Make a Fat Wife O...  1900
13599                                Family Troubles (II)  1900
...                                                   ...   ...
10754                       Hyperion: The Wrath of Kronos  2024
229718                                         Gods Heart  2025
145689                                        Rise of Man  2025
102561                                  Settling of Score  2026
65488                                         War in Snow  2026

[232330 rows x 2 columns]

### How many movies have the title "Hamlet"?

In [6]:
df1 = titles[titles['title'].str.contains("Hamlet")]
df1

                                          title  year
4394            Dogg's Hamlet, Cahoot's Macbeth  2005
6009                                     Hamlet  1948
7670                  Hamlet: Prince of Denmark  1989
8582                                Hamlet (II)  2005
8865                                Hamlet (II)  2015
14317                     Green Eggs and Hamlet  1995
15183                            Hamlet Unbound  2012
15202             Hamlet: The Fall of a Sparrow  2017
17419                 Hamlet, Prince of Denmark  1997
24178                        Han, hun og Hamlet  1932
24284               Intikam Melegi/Kadin Hamlet  1976
37146                                  Hamlet_X  2003
39230                  Hamlet, Son of a Kingpin  2015
42266                               Hamlet (IV)  2016
44682                              Hamlet (III)  2007
45350                                    Hamlet  1990
46721                                    Hamlet  1910
62549                            Redneck Hamlet  2017
71152   The Tragedy of Hamlet Prince of Denmark  2007
72925                        A Sagebrush Hamlet  1919
83789                       Harry, Hamlet and I  2013
92146                                    Hamlet  1976
94355                                    Hamlet  1987
94554                                    Hamlet  2000
98086                                  Hamlet 2  2008
98554                                    Hamlet  1921
99398                        Han, hun og Hamlet  1922
102506      Predstava 'Hamleta' u Mrdusi Donjoj  1974
102919                                   Hamlet  2011
109367                            Hamlet Frezer  2016
113096                             Hamlet (III)  2016
114431                   Hamlet liikemaailmassa  1987
122704                                   Hamlet  1969
128388                                   Hamlet  1954
143184                            Hamlet A.D.D.  2014
151918                              Fuck Hamlet  1996
163471                              Hamlet (II)  2007
166410                                   Hamlet  1913
167861                            Zombie Hamlet  2012
168965                                   Hamlet  2015
172418                Hamlet the Vampire Slayer  2008
174293                                 Hamlet X  2004
176069                                   Hamlet  2009
182970                                   Hamlet  1964
192443                             H for Hamlet  1993
193914        Royal Shakespeare Company: Hamlet  2016
195089                           Hamlet's Ghost  2015
201291                                   Hamlet  1996
209878                                   Hamlet  1911
211393                           Kitchen Hamlet  2009
221479                                   Hamlet  1973
223568                                   Hamlet  2014
223618                   Hamlet in the Hamptons  2002
227105                              Hamlet (II)  1964

### How many movies are titled "North by Northwest"?

In [8]:
df1count = titles[titles['title'].str.contains("North by Northwest")].count()

In [9]:
df1count

title    1
year     1
dtype: int64

### When was the first movie titled "Hamlet" made?

In [10]:
titles_sort = titles[titles['title'].str.contains("Hamlet")].set_index('year').sort_index(axis=0, ascending=True).head(1)

### List all of the "Treasure Island" movies from earliest to most recent.

In [11]:
titles_sort = titles[titles['title'].str.contains("Treasure Island")].set_index('year').sort_index(axis=0, ascending=True)

In [12]:
print(titles_sort)

                                                  title
year
1918                                    Treasure Island
1920                                    Treasure Island
1934                                    Treasure Island
1938                      The Secret of Treasure Island
1939                    Charlie Chan at Treasure Island
1950                                    Treasure Island
1954                          Return to Treasure Island
1957                          Five on a Treasure Island
1972                                    Treasure Island
1973                                    Treasure Island
1985                                    Treasure Island
1996                             Muppet Treasure Island
1999                               Treasure Island (II)
1999                                    Treasure Island
2006                         Pirates of Treasure Island
2006  Treasure Island Kids: The Mystery of Treasure ...
2006  Treasure Island Kids: The Battle of Treasure I...
2006  Treasure Island Kids: The Monster of Treasure ...
2015             National Theatre Live: Treasure Island

### How many movies were made in the year 1950?

In [15]:
titles

                                       title  year
0                             The Rising Son  1990
1                    The Thousand Plane Raid  1969
2                           Crucea de piatra  1993
3                                    Country  2000
4                                 Gaiking II  2011
...                                      ...   ...
232325                                 E yue  2005
232326                          Lakota Girls  2015
232327                        Kroniki domowe  1997
232328                  Awakening the Zodiac  2017
232329  Death in the Valley of Good and Evil  2018

[232330 rows x 2 columns]

In [17]:

# title_year=titles.set_index(['year',])

# title_year.loc['1950',['title']]

titles[titles['year']==1950].count()

title    1099
year     1099
dtype: int64

### How many movies were made in the year 1960?

In [18]:
titles[titles['year']==1960].count()

title    1501
year     1501
dtype: int64

### How many movies were made from 1950 through 1959?

In [19]:
titles[titles['year'].between(1950, 1959)]

                                         title  year
40      La momia azteca contra el robot humano  1958
45                                 Mavi boncuk  1958
71                            Campo O' Donnell  1950
90                            Botta e risposta  1950
92                         Perdeu-se um Marido  1957
...                                        ...   ...
232174               Dimas: The Sainted Robber  1952
232196                    Tischlein, deck dich  1956
232231                        Some Like It Hot  1959
232260                             Black Widow  1951
232291                       Te sigo esperando  1952

[12711 rows x 2 columns]

### In what years has a movie titled "Batman" been released?

In [22]:
titles[titles['title'].str.contains("Batman")]

                                        title  year
7381                    Fight! Batman, Fight!  1973
14183                   The Lego Batman Movie  2017
24134                       Batman: The Movie  1966
27117                           Batman Untold  2010
33620      Batman v Superman: Dawn of Justice  2016
56000                                  Batman  1989
58964                   Alyas Batman at Robin  1965
74608                                  Batman  1943
87055            Batman: Mask of the Phantasm  1993
87124   Batman: Return of the Caped Crusaders  2016
89221                          Batman & Robin  1997
104174                        Batman Revealed  2012
114756                       Batman: Crusader  2014
119687                       Batman and Robin  1949
124794     B@: It's a Wonderful Life, Batman!  2016
131323               Batman New World Justice  2017
147869           Batman Beyond: Rising Knight  2014
165501                        Batman: Anarchy  2016
169225                B@ (Batman Parody Film)  2016
170060                         Batman Forever  1995
178724                           James Batman  1966
190472                          Batman Begins  2005
197539                  Batman Fights Dracula  1967
197612                         Batman Returns  1992
199772                         Batman Dracula  1964
202688               Batman: The Killing Joke  2016
205929                         Batman Reboots  2010
213209                  Alyas Batman en Robin  1991

### How many roles were there in the movie "Inception"?

In [49]:
casts = pd.read_csv('imdb_pandas/cast.csv')
print(casts.head(5))
print(casts[casts['title']=='Inception'].count())

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN
title        77
year         77
name         77
type         77
character    77
n            51
dtype: int64

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [47]:
casts[casts['title']=='Inception'].isnull().sum()

title         0
year          0
name          0
type          0
character     0
n            26
dtype: int64

### But how many roles in the movie "Inception" did receive an "n" value?

In [48]:
casts[casts['title']=='Inception'].notna().sum()

title        77
year         77
name         77
type         77
character    77
n            51
dtype: int64

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [61]:
t=casts[casts['title']=='North by Northwest']
t[t['n']==True]

                     title  year        name   type           character    n
845516  North by Northwest  1959  Cary Grant  actor  Roger O. Thornhill  1.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [66]:
t=casts[casts['title']=='Sleuth']
t.set_index('n').sort_index(axis=0, ascending=True)

      title  year                 name     type                   character
n
1.0  Sleuth  2007        Michael Caine    actor                      Andrew
1.0  Sleuth  1972     Laurence Olivier    actor                 Andrew Wyke
2.0  Sleuth  1972        Michael Caine    actor                 Milo Tindle
2.0  Sleuth  2007             Jude Law    actor                        Milo
3.0  Sleuth  1972       Alec Cawthorne    actor           Inspector Doppler
3.0  Sleuth  2007        Harold Pinter    actor                 Man on T.V.
4.0  Sleuth  1972   John (II) Matthews    actor  Detective Sergeant Tarrant
5.0  Sleuth  1972   Eve (III) Channing  actress             Marguerite Wyke
6.0  Sleuth  1972         Teddy Martin    actor      Police Constable Higgs
NaN  Sleuth  2007      Kenneth Branagh    actor           Other Man on T.V.
NaN  Sleuth  2007  Alec (II) Cawthorne    actor           Inspector Doppler
NaN  Sleuth  2007    Eve (II) Channing  actress             Marguerite Wyke
NaN  Sleuth  2007    Carmel O'Sullivan  actress                      Maggie

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [71]:
t=casts[casts['title']=='Sleuth']
t=t.set_index('n').sort_index(axis=0, ascending=True)
t

      title  year                 name     type                   character
n
1.0  Sleuth  2007        Michael Caine    actor                      Andrew
1.0  Sleuth  1972     Laurence Olivier    actor                 Andrew Wyke
2.0  Sleuth  1972        Michael Caine    actor                 Milo Tindle
2.0  Sleuth  2007             Jude Law    actor                        Milo
3.0  Sleuth  1972       Alec Cawthorne    actor           Inspector Doppler
3.0  Sleuth  2007        Harold Pinter    actor                 Man on T.V.
4.0  Sleuth  1972   John (II) Matthews    actor  Detective Sergeant Tarrant
5.0  Sleuth  1972   Eve (III) Channing  actress             Marguerite Wyke
6.0  Sleuth  1972         Teddy Martin    actor      Police Constable Higgs
NaN  Sleuth  2007      Kenneth Branagh    actor           Other Man on T.V.
NaN  Sleuth  2007  Alec (II) Cawthorne    actor           Inspector Doppler
NaN  Sleuth  2007    Eve (II) Channing  actress             Marguerite Wyke
NaN  Sleuth  2007    Carmel O'Sullivan  actress                      Maggie

### How many roles were credited in the silent 1921 version of Hamlet?

In [83]:
t=casts[casts['title']=='Hamlet']
print(t)
t=casts[casts['year']==1921].count()
t

          title  year              name     type              character     n
1627     Hamlet  1996        Riz Abbasi    actor  Attendant to Claudius   1.0
7488     Hamlet  1921  Fritz Achterberg    actor            Fortinbras,   9.0
11335    Hamlet  2009      Hayden Adams    actor                Laertes   7.0
11336    Hamlet  2009      Hayden Adams    actor                 Player   7.0
14013    Hamlet  1913       Eric Adeney    actor               Reynaldo  14.0
...         ...   ...               ...      ...                    ...   ...
3528232  Hamlet  1969    Jennifer Tudor  actress             Court lady  23.0
3550959  Hamlet  2000      Diane Venora  actress               Gertrude   3.0
3580610  Hamlet  1996     Perdita Weeks  actress          Second Player  44.0
3585205  Hamlet  2015   Katie (II) West  actress                Ophelia   7.0
3601799  Hamlet  1996      Kate Winslet  actress                Ophelia  46.0

[313 rows x 6 columns]

title        6838
year         6838
name         6838
type         6838
character    6838
n            6075
dtype: int64

### How many roles were credited in Branagh’s 1996 Hamlet?

In [90]:
t=casts[casts['name'].str.contains("Branagh")]
t1=t[t['title'].str.contains("Hamlet")]
t1

         title  year             name   type character    n
251868  Hamlet  1996  Kenneth Branagh  actor    Hamlet  5.0

### How many "Hamlet" roles have been listed in all film credits through history?

In [99]:
o=casts[casts['title'].str.contains("Hamlet")]
o=o.count()
o

title        921
year         921
name         921
type         921
character    921
n            512
dtype: int64

### How many people have played an "Ophelia"?

In [103]:
this=casts[casts['character'].str.contains("Ophelia")]
this.count()

title        158
year         158
name         158
type         158
character    158
n             89
dtype: int64

### How many people have played a role called "The Dude"?

In [116]:
this=casts[casts['character']=="The Dude"]
print(this)
t=this.set_index('name')
print(t)
t.groupby('name').count()

                                  title  year                  name   type  \
263434                 The Big Lebowski  1998          Jeff Bridges  actor
328939               Terms & Conditions  2015           Jordan Cann  actor
483781                         Stranger  2000         Scott Crowell  actor
553260           Pizza Man vs. the Dude  2004        Chris DeMarcus  actor
592594                      Sweepstakes  1931           Mike Donlin  actor
610856                    Self Helpless  2010        Devin The Dude  actor
1057654  Jay and Silent Bob Strike Back  2001   Matthew (XIX) James  actor
1105485                   Explicit Ills  2008    Christopher Kadish  actor
1325956                 American Idiots  2013      Jason Loughridge  actor
1344790             The Winds of Autumn  1976           Steve Lyons  actor
1467445                         The Liq  2016        Mark Alan Meek  actor
1494898                  Wild Oats Lane  1926           Jerry Miley  actor
1731068               Oklahoma Badlands  1948      House Peters Jr.  actor
1770139            Cloud Air: The Movie  2013  Thomas (VIII) Porter  actor
1783848                           Hacks  1997       Jason Priestley  actor
2135620         Carlos Spills the Beans  2012          Bobby Styles  actor
2264997                       Zachariah  1971       Dick Van Patten  actor
2345440              It Can Be Arranged  2010            Joel Weiss  actor

        character     n
263434   The Dude   1.0
328939   The Dude   9.0
483781   The Dude   NaN
553260   The Dude   NaN
592594   The Dude  12.0
610856   The Dude   NaN
1057654  The Dude  37.0
1105485  The Dude  27.0
1325956  The Dude  10.0
1344790  The Dude  30.0
1467445  The Dude   NaN
1494898  The Dude   6.0
1731068  The Dude  13.0
1770139  The Dude   8.0
1783848  The Dude  11.0
2135620  The Dude   NaN
2264997  The Dude   9.0
2345440  The Dude   NaN
                                               title  year   type character  \
name
Jeff Bridges                        The Big Lebowski  1998  actor  The Dude
Jordan Cann                       Terms & Conditions  2015  actor  The Dude
Scott Crowell                               Stranger  2000  actor  The Dude
Chris DeMarcus                Pizza Man vs. the Dude  2004  actor  The Dude
Mike Donlin                              Sweepstakes  1931  actor  The Dude
Devin The Dude                         Self Helpless  2010  actor  The Dude
Matthew (XIX) James   Jay and Silent Bob Strike Back  2001  actor  The Dude
Christopher Kadish                     Explicit Ills  2008  actor  The Dude
Jason Loughridge                     American Idiots  2013  actor  The Dude
Steve Lyons                      The Winds of Autumn  1976  actor  The Dude
Mark Alan Meek                               The Liq  2016  actor  The Dude
Jerry Miley                           Wild Oats Lane  1926  actor  The Dude
House Peters Jr.                   Oklahoma Badlands  1948  actor  The Dude
Thomas (VIII) Porter            Cloud Air: The Movie  2013  actor  The Dude
Jason Priestley                                Hacks  1997  actor  The Dude
Bobby Styles                 Carlos Spills the Beans  2012  actor  The Dude
Dick Van Patten                            Zachariah  1971  actor  The Dude
Joel Weiss                        It Can Be Arranged  2010  actor  The Dude

                         n
name
Jeff Bridges           1.0
Jordan Cann            9.0
Scott Crowell          NaN
Chris DeMarcus         NaN
Mike Donlin           12.0
Devin The Dude         NaN
Matthew (XIX) James   37.0
Christopher Kadish    27.0
Jason Loughridge      10.0
Steve Lyons           30.0
Mark Alan Meek         NaN
Jerry Miley            6.0
House Peters Jr.      13.0
Thomas (VIII) Porter   8.0
Jason Priestley       11.0
Bobby Styles           NaN
Dick Van Patten        9.0
Joel Weiss             NaN

                      title  year  type  character  n
name
Bobby Styles              1     1     1          1  0
Chris DeMarcus            1     1     1          1  0
Christopher Kadish        1     1     1          1  1
Devin The Dude            1     1     1          1  0
Dick Van Patten           1     1     1          1  1
House Peters Jr.          1     1     1          1  1
Jason Loughridge          1     1     1          1  1
Jason Priestley           1     1     1          1  1
Jeff Bridges              1     1     1          1  1
Jerry Miley               1     1     1          1  1
Joel Weiss                1     1     1          1  0
Jordan Cann               1     1     1          1  1
Mark Alan Meek            1     1     1          1  0
Matthew (XIX) James       1     1     1          1  1
Mike Donlin               1     1     1          1  1
Scott Crowell             1     1     1          1  0
Steve Lyons               1     1     1          1  1
Thomas (VIII) Porter      1     1     1          1  1

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?